.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 400px;
  gap: 10px;
}

.item1 > p {
  text-align: center;
  padding-top: 70px;
  font-style: oblique;
  font-size: large;
}

.item1 {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: cyan;
}

.item2 {
  height: 200px;
  width: 200px;
  background-color: deeppink;
}

.item2 > p {
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  padding: 35px;
}

.item3 {
  height: 200px;
  width: 200px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid lawngreen;
}

.item3 > p {
  text-align: center;
  padding-top: 35px;
  color: rgb(224, 12, 214);
  font-size: 23px;
}
.item4 {
  height: 100px;
  width: 200px;
  background-color: gold;
}
