

html {
  background-color: azure;
}

.img {
  height: 200px;
}

.first-image {
  float: left;
}

.second-image {
  float: right;
}

h1{
  padding: 10px;
  float: right;
}
.clear {
  clear: both;
}
footer {
  text-align: center;
  color: midnightblue;
  clear: both;
}

@media (max-width: 600px) {
  .first-image {
    float: none;
  }
  .second-image {
    float: none;
  }
  h1 {
    float: none;
  }
}































/* body {
  background-color:#faf9f6;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}


.title-img {
  height: 190px;
  margin-right: 50px;
  float: left;
}
.main {
  display: block;
}

.left-img {
  float: left;
}

.clear {
  clear: both;
}

.right-img {
  float: right;
}

h1 span {
  color: midnightblue;
}

h2 p {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
  clear:both;
}

@media (max: 680px) {
  .logo {
    width:100px;
  }
}