html {
    background-color: black;
}

h1,h2 {
    color: aliceblue;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

#bear-image {
   border: 5px solid white;
}


#pic {
    width: 50%;
    margin-left: 25%;
}

#bear-image {
    width: 100%;
    margin-top: 10%;
}
